@charset "utf-8";
/*
活动样式
*/
.w578{width:578px}
/*.content, .mainbox_C{min-height:550px; _height:550px}*/
.page_title .rmenu{}
.page_title .rmenu a{display: block; line-height: 20px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #ccc; padding-left: 5px}
.page_title .rmenu a:hover{color: #fff; background-color: #005FAB; text-decoration: none}
.boxL{padding:20px 0 0 0}
.box1{padding: 20px; overflow: hidden;*zoom:1;padding-left:0;}
.wenda{padding:0 !important}
.box1 h3{font-size: 14px; font-weight: normal; line-height: 30px; padding-left: 5px; border-bottom: 1px solid #A4C4DD;margin:0 0 20px 0}
.box1 h4{font-size: 12px; font-weight: bold; line-height: 30px}
.zd{font-size: 12px; background-color: #0066CC; display: inline-block; color: #fff; padding-top: 1px; padding-right: 3px; padding-bottom: 1px; padding-left: 3px; margin-right: 5px; line-height: 140%}
.jh{font-size: 12px; background-color: #FF9900; display: inline-block; color: #fff; padding-top: 1px; padding-right: 3px; padding-bottom: 1px; padding-left: 3px; margin-right: 5px; line-height: 140%}
/*小名片*/
#event_edit_button{margin-left:20px;}
#event_edit_button a{background:#65addd;padding:5px 10px;color:#FFF; cursor: pointer;*padding: 3px 10px 7px 10px;}
.card_name .info{line-height: 18px;margin: 0 15px 8px;width: 330px;height:auto}
/*活动信息*/
/*.info{height: 260px}*/
.info .img{height:278px; width: 278px; margin-right: 20px; float: left; text-align: center; overflow: hidden}
.info .list{float: left; width: auto;width:520px;}
.info .list ul{margin: 0px; padding: 0px; width: 100%}
.info .list ul li{clear: both; line-height: 180%}
.info .list ul li .c1{float: left; width: 70px; color: #999;}
.info .list ul li .c2{float: left; width: auto;color:#999;}
.info .list ul li .c2 a{color:#333}
/*全部活动式*/
.search li{*zoom:;overflow:hidden;padding: 5px; margin-bottom: 5px}
.search li h3{font-size: 18px;font-family:"微软雅黑";margin:0 0 15px 0;}
.search li p{margin:0 0 10px 0; padding: 0px}
.search li .rmenu{}
.search li .rmenu a{display: block; line-height: 20px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #CCCCCC; padding-left: 5px}
.search li .rmenu a:hover{color: #fff; background-color: #F37B03; text-decoration: none}
.rSort{float: right; width: 200px}
.rSort h4{font-weight: bold; line-height: 25px; font-size: 12px}
.rSort ul{width: auto}
.rSort ul li{line-height: 18px}
.rSort ul li.on a{color: #FF0000; text-decoration: underline; padding-left: 8px; background-image: url(../images/ico-xiaosanjiao.gif); background-repeat: no-repeat; background-position: 0px center}
/*参加成员列表*/
.flist li{padding:5px}
.flist li h3{font-size:14px; font-weight:bold; line-height:25px }
.flist li p{line-height:20px; margin:0px; padding:0px }
/*右边列表样式*/
.boxR{border-bottom-color:#A4C4DD; border-bottom-style:solid; border-bottom-width:1px; border-left-color:#A4C4DD; border-left-style:solid; border-left-width:1px; border-right-color:#A4C4DD; border-right-style:solid; border-right-width:1px; border-top-color:#A4C4DD; border-top-style:solid; border-top-width:0px; clear:both; margin-bottom:10px; padding-bottom:5px; overflow: hidden}
.boxR h3{background-color:#E7EFF5; border-top-color:#A4C4DD; border-top-style:solid; border-top-width:1px; font-size:12px; font-weight:bold; line-height:30px; margin:0px; padding:0px 0px 0px 5px }
.boxR p{line-height:18px; margin:0px; padding:5px 0px 5px 5px }
.ListBox{clear:both; overflow:hidden; width: 100%}
.ListBox li{background-image:none; display:block; float:left; height:auto; margin-top:8px; text-align:center; width:60px }
.ListBox li span{display:block; margin-left:auto; margin-right:auto }
.ListBox li a{display:block; line-height:20px; margin:0px; padding:0px }
.ListBox li em{color:#666666; display:block; line-height:16px; text-align:center }
/*活动成员*/
.pic50box{overflow: hidden; clear: both}
.pic50box li{width: 80px; float: left; text-align: center; display: block; background-image: none; margin-top: 8px; height: auto}
.pic50box li span{display: block}
.pic50box li a{display: block; line-height: 20px; margin: 0px; padding: 0px}
/*相册样式*/
.piclist{width: 640%; margin: 0px; padding: 0px}
.piclist li{float: left; width: 159px; text-align: center; margin-top: 5px}
.piclist li img{padding: 2px; border: 1px solid #CCCCCC; margin-bottom: 5px; background-color: #fff}
/*发起活动*/
.elist{margin:10px auto 0; padding:0}
.add_event{width: 100%}
.add_event dd{clear: both; line-height: 20px; margin-bottom: 10px; display: table; width: 100%}
.add_event dd label{float: left; width: 17%; text-align: right}
.add_event dd .txt_impt{vertical-align:-3px;color:#f00;padding:0 5px 0 0}
.add_event dd .c2{float: left; width: 80%;padding:0 0 0 10px}

.sidebar{float: right; width: 175px}
.sidebar p{margin: 0 8px; padding: 5px 0}
.FSort{margin-bottom: 10px;}
.FSort .tit {font-size: 13px; font-weight: bold; height: 28px; line-height: 28px; margin: 0; padding: 0 0 0 14px}
.FSort ul{margin: 5px 2px 0; padding: 0}
.FSort li{margin: 0;width: 100%;line-height: 25px;}
.FSort li.on{display: inline-block; line-height: 25px; width: 100%}
.FSort li.on a{font-weight:bold}
.FSort .btm{clear: both; font-size: 0; height: 5px; line-height: 0}
.text22{border: 1px solid #BDC7D8; font-size: 12px; height: 22px; line-height: 24px; margin: 0; padding: 0; vertical-align: middle}
/*推荐专辑*/
.Recommended li{clear:both; margin:0 0 10px 0;overflow:hidden;}
.Recommended li .c1{float:left; margin:0 10px 0 0;width:50px;height:50px;}
.Recommended li .c1 img{margin:4px 0 0 0;width:50px;height:50px;}
.Recommended li .c2{float:left}
.Recommended li .c2 dt,.Recommended li .c2 dd{line-height:18px;}
/*选择城市弹窗*/
.pop_select_city{width:420px;padding:20px 0;text-align:left;overflow:hidden;*zoom:1}
.pop_select_city dt,.pop_select_city dd{padding:10px 20px 0}
.pop_select_city dt{padding:0 20px 10px}
.pop_select_city dd span{margin:0 5px 0 0}
.pop_select_city .ullist{list-style-type:none;white-space:nowrap;overflow:hidden;*zoom:1}
.pop_select_city dd .ullist{list-style-type:none;white-space: nowrap;overflow:hidden;*zoom:1}
.pop_select_city .ullist li{margin:5px 5px 5px 0;float:left;}
.pop_select_city .ullist li a{padding:0 3px;display:inline-block;word-break:break-all;}
.pop_select_city .ullist .on a{border-radius:3px;background-color:#999;padding:0 3px;color:#fff}
/*---分享微博弹窗---*/
.pop_share_weibo{padding:0 0 10px 0;width:400px;text-align:left;overflow:hidden;*zoom:1}
.pop_share_weibo dd,.pop_share_weibo dt{padding:10px 20px 0;overflow:hidden;*zoom:1}
.pop_share_weibo dt span{/*color:#008000*/}
.pop_share_weibo .btn_big_disable{width:60px;height:26px;background-position:left top}





.feed_lists .repeat {background:#f9fafa;border:1px solid #eee;padding:20px;position:relative;font-size: 12px;margin: 15px 0 0 0;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;*zoom:1;}
.feed_list .action{margin:5px 0 0}
.feed_list .num{float:right;margin:0px 0 0 0;line-height:20px;*margin:0;font-size:14px;margin:5px;color:#999;font-weight:normal;height:20px;}
.feed_list .pading .action{padding:0}
.feed_list .action .btn-green{float:right}
.feed_list .action .faces{float:left;background:url(../image/icon.png) no-repeat -32px 0;display:inline-block;width:16px;height:16px;margin:0 10px 0 0;cursor:pointer;_margin:0 5px 0 0}
.feed_list .repeat .arrow{margin:0 0 0 85px;position:absolute;height:8px;width:14px;top:-11px;right:7px;}
.feed_list .repeat .arrow-t{background-position:0 -138px;width:16px;height:11px;}
.feed_list .repeat .input{padding:8px 0 0}
.commoned_list{float:left;margin:-3px 0 0}
.commoned_list li{margin:0 0 5px;}
.feed_list .comment_list em{font-size:12px;color:#7b7b7b;font-style:normal;}
.feed_list .content .comment_list .cont em{vertical-align:middle;}
.comment_list{border-bottom:#eee solid 1px;clear: both;overflow: hidden;padding:8px 0;zoom:1;position:relative;}
.comment_list dt{float:left;width:30px;}
.comment_list dd{line-height:20px;margin:0 0 0 40px;word-wrap:break-word;word-break:break-all;}
.comment_list dd em{font-style:normal;}
.comment_list .floor{position:absolute;right:0;top:8px;color:#7b7b7b;_top:4px;line-height:20px;}
.comment_list dd .cont{margin:0 30px 0 0;}
.comment_list dd .info{*margin:0 -4px 0 0;}


.feed_list .input_tips{width:98%;height:52px;_width:97.8%;}
.feed_list .comment{font-size:12px;color:#333;background-color:#F9FAFA;margin:10px 0 5px 0;position:relative;padding:10px 15px;_position:static;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;border:#e1e1e1 solid 1px;}
.feed_list .comment .question strong, .feed_list .comment .answer strong{color:#bbb;display:inline;}
.feed_list .comment .ico-best{position:absolute;right:-1px;top:-1px;_top:8px;}
*+html .feed_list .comment .ico-best{top:7px;}
.feed_list .comment dt a.tit{font-weight:700}
.feed_list .comment dt .date{float:right}
.feed_list .comment dt.no_border{margin:0;padding:0 0 10px;line-height:15px;color:#ddd}
.feed_list .comment dt.no_border a{margin:0}
.feed_list .comment dd.info a.date{display:none}
.feed_list .comment dd.name{margin:0;height:auto;width:auto;}

.feed_list a.ico-details:link,.feed_list a.ico-details:visited{color:#fff;}

.feed_list .comment .face{width:20px;height:20px;margin:0 10px 0 0}
.feed_list .comment .info a{color:#3366CC;font-size:12px;font-weight:bold;}
.feed_list .content p.info{font-size: 12px;color:#999;padding:5px 0 0;overflow:hidden;*zoom:1;}
.feed_list .content p.border{border:none 0;border-bottom:#ccc solid 1px;height:10px;overflow:hidden;margin:0 0 8px}
.feed_list .content p.border .arrow-t{margin:3px 0 0 85px;position:absolute;}
.feed_list .info a:link,.feed_list .info a:visited, .feed_list .content .more{color:#99B2E5;font-weight:normal;}
.feed_list a.date{font-size:12px;margin:0 15px 0 0;}
.feed_list .content p.info span span{margin:0 10px 0 0;}
.feed_list .expand{padding:0;}
.feed_list .arrow{height: 11px;overflow:hidden;width: 25px;position:absolute;top:-10px;left:10px;}
.feed_list .type-bg{background:#fff;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;padding:0 3px;}
.feed_list .bgcolor_arrow{color:#F2F2F2;}
.feed_list em.arrline,.feed_list .comment span.downline{display: block;font-family: "SimSun";font-size: 21px;height: 10px;overflow: hidden;_display:none;}	

.feed_list .comment span.downline{color:#F9FAFA;margin:-9px 0 0;}

.mt10 .right,.comment_list .right{float:right}
/*鎸夐挳*/
.btn-grey{background-position:0 -260px;width:80px;height:30px;line-height:30px;text-align:center;font-size:14px;color:#666;}
.btn-green-big,.btn-green-big:hover{background:#414448;color:#fff;width:80px;height:30px;line-height:30px;text-align:center;border:none;font-size:12px;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;-khtml-border-radius:2px;}
.s-login .login-bd .btn-login{font-family:"寰蒋闆呴粦";font-size:20px;color:#fff;width:140px;height:46px;line-height:46px;margin:-2px 0 0 0;text-align:center;background:#414448;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;-khtml-border-radius:2px;*margin:2px 0 0 0;}
.btn-grey-small{background-position:0 -164px;width:80px;height:24px;color:#666;line-height:24px;text-align:center;cursor:pointer;}
.btn-register{background:#414448;width:80px;height:30px;font-size:14px;color:#fff;display:block;text-align:center;line-height:30px;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;-khtml-border-radius:2px;}
/*.btn-register:hover{background-position:0 -388px;width:140px;height:46px;font-size:16px;color:#fff;display:block;text-align:center;line-height:46px;}*/
.btn-green-small,.btn-green-small:hover{background:#4F99E4;width:50px;height:24px;line-height:24px;font-size:12px;color:#fff;text-align:center;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;-khtml-border-radius:2px;} 
.btn-att-green,.btn-att-green:hover{background:#414448;width:80px;height:14px;line-height:14px;padding:5px 0;font-size:12px;color:#fff;text-align:center;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;-khtml-border-radius:2px;}
.btn-copy{background-position:0 -316px;width:140px;height:46px;line-height:46px;}
.btn-copy span{font-size:16px;color:#fff;text-align:center;display:block;}
.btn-cancel:hover,.btn-cancel:hover span,.channel-layer .btn-cancel.current,.channel-layer .btn-cancel.current span,.channel-tab-menu .btn-cancel.current,.channel-tab-menu .btn-cancel.current span,.profession-type .btn-cancel.current,.profession-type .btn-cancel.current span{background:#414448;font-size:12px;color:#fff;text-align:center;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;-khtml-border-radius:2px;}
.btn-cancel:hover .ico-add-black{background-position:0 -73px}
.btn-cancel:hover span a.tag{color:#fff;margin:0 5px 0 0;}


.input_after{height:100px;border:#ddd solid 1px;*zoom:1}
.input_tips{width:98%;height:52px;display:block;overflow-y:auto;padding:5px;font-size:14px;line-height:18px;cursor:text;outline:none;border:#ddd solid 1px;background:#fff;box-shadow:1px 1px 3px #dcdcdc inset;-moz-box-shadow:1px 1px 3px #dcdcdc inset;-khtml-box-shadow:1px 1px 3px #dcdcdc inset;}
.feed_list .input_tips{width:825px;height:52px;_width:97.8%;}
.openbox .feed_list .input_tips{width:98.7%;height:52px;}
.input_tips h4{color:#ddd;height:22px;line-height:22px;padding:0 8px;font-size:12px;cursor:text}
.fb{background:#ffbbbb}
.feed_list .action{padding-top:0px;}
.comment_list a,.comment_list .floor{font-size:12px;}
.comment_list img{ border-radius:20px;}
.comment_list .cont img{ display:none !important;width:0 !important;height:0 !important}
.reevents{padding-bottom: 20px;}
.e-list-box{padding:20px 10px 10px 20px;height:80px;}
.e-list-box .image{width:90px;float:left}
.e-list-box .image a,.e-list-box .image a img{width:80px;height:80px;}
.e-list-box .content{float:right;width:138px;height: 84px;}
.e-list-box .content dd{font-size:12px;}
.e-list-box .content strong a{font-size:14px;margin:0 !important}
.eventfqr .avatars{float:left;margin:20px;}
.eventfqr .avatars .avatar img{ border-radius:100px;}
.eventfqr .uname {padding-left:100px;padding-top:30px;}
.eventfqr .uname img{width:0px;height:0px;}
.eventfqr .uname a{font-size:14px}
.eventfqr .button{margin:0 20px;margin-bottom:20px;}
.eventfqr .button{zoom: 1;}
.eventfqr .button:after{clear: both;display: block;height:0;content:"";visibility: visible; }
.eventfqr .button .follow{display:block;width:83px;height:30px;text-align:center;line-height:30px;color:#fff;background:#65addd;font-size:14px;color:#FFF;float: left;}
.eventfqr .button .pm{display:block;width:83px;height:30px;text-align:center;line-height:30px;color:#fff; background:#65addd;margin-left:20px;font-size:14px;color:#FFF;float: left;}

#Pagination{ text-align:center}
#Pagination a{padding:10px 15px;border:1px solid #dddddd;margin-right:5px}
#Pagination .current,#Pagination a:hover{ background:#2388C0;color:#FFF}
.event-member .page_nav .mores{*top:40px;}





.back {

background: #ffffff;

}

.in-list {

width: 1200px;

padding: 0 20px;

margin-top: 20px;

overflow: hidden;

}
.blue1 {color:#2386bf;}

.border-down1 {border-bottom:1px solid #E1E1E1;}


.title2 {position:absolute;width:1160px;}

.base_info {padding:0 203px 0 101px;font-family: "microsoft yahei";}

.base_info dd {height:50px;padding:11px 0;margin:0;}

.base_info label {display:block;float:left;width:73px;height:50px;line-height:50px;font-size:14px;}

.base_info .txt_impt {float:right;width:15px;line-height:55px;color:#F00}

.base_info .text {height:46px;line-height:46px;border:1px solid #E4E4E4;font-size:14px;font-family:Microsoft Yahei;color:#999;}

.base_info .select1 {height:46px;padding-top:10px;padding-bottom:10px;border:1px solid #E4E4E4;*border:none;font-size:14px;font-family:Microsoft Yahei;color:#999;outline: none;}
.base_info .tbox1 {background:url(imgs/icn1.png) no-repeat 14px 10px;}

.base_info .tbox2 {background:url(imgs/icn2.png) no-repeat 14px 10px;}

.base_info .tbox3 {background:url(imgs/icn3.png) no-repeat 14px 10px;*background: none;}
.base_info .tbox6 {background:url(imgs/icn3.png) no-repeat 14px 10px;}
.base_info .tbox4 {background:url(imgs/icn4.png) no-repeat 14px 10px;*background: none;}
.base_info .tbox5{*background:url(imgs/icn4.png) no-repeat 14px 10px;}
.base_info .w0 {width:783px;padding-left:48px;*width:730px;*height: 22px;*margin: 12px 5px 0 0;*padding-left: 0;}

.base_info .w1 {width:766px;padding-left:14px;}

.base_info .w2 {width:359px;padding-left:14px;}

.base_info .w3 {width:325px;padding-left:48px;}
.box1 .base_info div.c2{zoom: 1;}
.box1 .base_info div.c2:after{clear: both;display: block;height: 0;visibility: visible;content: "";}
.box1 .base_info .w3{float: left;}
.box1 .base_info div.c2 .lineIcon{float: left;margin-left:14px;line-height: 45px;}
.base_info .w4 {width:769px;padding-left:14px;}

.base_info .w5 {width:735px;padding-left:48px;}

.base_info .w6 {width:373px;padding-left:48px;float: left;*width: 316px;*padding-left: 0;*height: 22px;*margin:12px 5px 0 0;}

.base_info .wr {float:right;}

.base_info .d2 {height:220px;}

.base_info .d2 img {width:370px;height:220px;border:0;background:#e7e7e7;float: left;}

.base_info .d2 .r {float:right;width:375px;}

.base_info .d2 .r .b {font-size:12px;}

.base_info .d2 .r .tip {font-size:12px;}

.base_info .d2 .r p {font-size:14px;color:#999;}

.base_info .d3 {height:300px;}

.base_info .d4 .itm {float:left;width:390px;line-height:50px;font-size:14px;color:#999;}
.base_info .d4 .itm input{vertical-align:text-top\9;*vertical-align: text-bottom; }
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .base_info .d4 .itm input{vertical-align:text-top; }
}

.base_info .btn_b {float:right;width:186px;height:50px;line-height:50px;background:#2B92F9;border:0;color:#FFF;font-size:18px;font-family:Microsoft Yahei;}

.base_info .btn_b:hover {background:#1981E8;}
.box1 .base_info div.c2 .seltctBox2{*padding-left: 48px;*display:inline-block;*border:1px solid #E4E4E4;*width:735px;*padding-bottom:12px;*float: left; }
.box1 .base_info div.c2 .selectBox{*padding-left: 48px;*display:inline-block;*border:1px solid #E4E4E4;*width: 325px;*padding-bottom:12px;*float: left; }