@charset "utf-8";
/*---------------header----------------------*/
[class^="icon-"], [class*=" icon-"],.login-nav,.login-box span,.logo-ul li a,.star span,.ind-box span,.ind-question h3 span,.sider-question li,.content-top-list span,.page-top-right li span,.class-list .fr a,.class-list i,.test-list li i,.question-conent-list dd,.sider-test-con li{background:url(../icon/icon.png);background-repeat:no-repeat;}
.pt10{padding-top:10px;}
.pt30{padding-top:30px;}
.pt40{padding-top:40px;}
.lazyloading{width: 100%; height:100%;}
.bgb{background-color:#f3f5f7;}
.wrap{width:1200px;margin:0 auto;position: relative;}
.wrap.page{width:1200px;}
.wrap:before,.wrap:after{content:""; display:table;}
.wrap:after{clear:both; overflow:hidden;}
.header,.fullSlide,.banner,.picbox,.content,.footer,.page-palce,.page-top{width:100%;}
.header{height:154px;background-color:#fff;}
.header-top{height:100px}
.header-logo{float:left;width:360px;}
.header-logo img{margin-top:27px;width:205px;height:46px;background-position:0 0;}
.header-search{float:left;}
.header-search form{width:434px;height:38px;margin-top:29px;border:solid 2px #2b92f9;}
.header-search input{float:left;width:310px;height:38px;padding-left:44px;background:url(../icon/icon.png) -560px -80px no-repeat;border:0;}
.header-search button{float:left;width:80px;height:38px;color:#fff;font-size:14px;background-color:#2b92f9;border:0;cursor:pointer;}
.index form{width:373px;height:36px;margin-top:30px;border:solid 1px #bbbdbf;border-radius:18px;overflow:hidden;}
.index input{width:295px;height:36px;padding-left:15px;background:none;}
.index .submit{width:63px;height:36px;background:#fff url(../icon/icon.png) -550px -122px no-repeat;text-indent:-999em;border-left:solid 1px #bbbdbf;}
.header-login{float:right;width:360px;}
.login-ewm{float:left;margin-top:7px;}
.login-ewm img{float:left;width:80px;height:80px;padding:2px;margin-right:10px;border:solid 1px #ddd;}
.login-ewm p{float:left;margin-top:19px;font-size:14px;line-height:18px;color:#a9a9a9;}
.login-nav{float:right;padding-left:45px;margin-top:33px;height:34px;font-size:14px;line-height:34px;background-position:-360px -3px;}
.login-nav span{margin:0 3px;}
.header-bot{height:54px;background-color:#2b92f9;}
.header-nav{height:54px;line-height:54px;}
.header-nav li{float:left;}
.header-nav li a{padding:0 35px;font-size:16px;color:#fff;display:block;}
.header-nav li.active a,.header-nav li a:hover{background-color:#1981e8;}
#menu_box{width:102px;height:auto;position:absolute;z-index: 999;display:none;background-color: #2B92F9;}
#menu_box a{text-align: center;float: left;height:50px;line-height: 50px;width:100%;padding:0;}
#menu_box a:hover{background-color: #1981e8;}
/**********footer*************/
.footer{color: #7e7e7e;font-size:14px;background-color:#383b3d;}
.footer-main{overflow:hidden; padding: 60px 0 30px;}
.footer-logo{float:left;width:350px;padding-left:110px;}
.footer-logo .logo-img{width:240px;height:55px;background-position:0 -50px;}
.logo-ul{overflow:hidden;margin-top:25px;}
.logo-ul li{float:left;margin-right:20px;}
.logo-ul a{width:40px;height:40px;display:block;}
.logo-ul .l1 a{background-position:0 -250px;}
.logo-ul .l2 a{background-position:-40px -250px;}
.logo-ul .l3 a{background-position:-80px -250px;}
.logo-ul .l4 a{background-position:-120px -250px;}
.footer-link{float:left;width:140px;}
.footer-main dt{margin-bottom:30px;font-size:16px;}
.footer-main dd{line-height:24px;}
.footer-main dd a{color:#7e7e7e;}
.footer-main dd a:hover{color:#fff;text-decoration:underline;}
.copyright{height:60px;line-height:60px;text-align:center;border-top:solid 1px #4d4d4d;}
/**********pagebox*************/
.pagebox{padding:40px 0;text-align:center;}
.pagebox a{height: 28px;padding:0 15px;margin-right:10px; font-size: 14px;line-height:28px;display:inline-block; border-radius: 3px; cursor: pointer;}
.pagebox a{color: #bebebe; border: solid 1px #d6d6d6; background-color: #eee;}
.pagebox a:hover,.pagebox .current{color: #fff; border: solid 1px #136fcb; background-color: #2b92f9;}

/*登录后*/
.login-box{float:right;height:42px;margin-top:28px;}
.login-box img{float:left;width:40px;height:40px;margin-right:10px;border-radius:50%;border:solid 2px #2b92f9;}
.login-box span{float:left;width:90px;height:40px;padding-bottom:3px;font-size:14px;line-height:40px;background-position:-515px 15px;text-align:center;border-bottom:solid 1px #dddede;text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
.login-box:hover .login-after-position{position:absolute;top:72px; right:0; width:142px; height:auto; border:#eeeeee 1px solid; z-index:778;  background:#ffffff;  display: block; clear:both}
.login-box .login-after-position{ display:none;width:144px; height:auto; z-index:778;  border:#eeeeee 1px solid; background:#ffffff;position:absolute;top:45px; right:0;clear:both ; }
.login-after-position dd a{ padding-left:20px; height:40px; line-height:40px; width:122px; display:block}
.login-after-bdbt{ border-bottom:1px solid #eeeeee}

/*头部消息提示*/
.news-msg{position:  absolute;top:72px; right:0; width:200px; border:#eeeeee 1px solid;height:auto;z-index:777; background:#ffffff;  display: block; font-size:12px; }
.news-msg li{padding:0 10px;height:40px; width:auto;line-height:40px;z-index:666; background:#ffffff;  display: inline-block; position:relative; }
.news-msg .chanchu-ico{position:absolute;top:50px; right:2; width:180px; padding-right:30px;border:#eeeeee 1px solid;height:auto;z-index:777; background:#ffffff;  display:; font-size:12px; }
.shanchu-ico{width:12px; height:12px; font-size:0; display: inline-block; position: absolute; color:#999999; line-height:12px; text-align:center; z-index:778; right:12px; top:13px; font-size:20px;}
