@charset "utf-8";
/* CSS Document */


@media (max-width: 1200px) {
    .wrap {
		width:1200px;
	}
}

@media (max-width: 800px) {
	 .wrap {
		width:90%;
	}
	.top1 {
		height: 200px;
		background: url(../icon/top1.jpg);
	}
    .top1 .text {
		padding-top: 30px;
	}
	.top1 .text p {
		font-size: 16px;
	}
	.top1 .text h2 {
		margin: 10px 0;
		font-size: 20px;
	}
	.top1 .text a {
		width: 40px;
		height: 40px;
		margin: 20px auto 0;
		background-size:230px 200px;
	}
	.itembox {
		padding: 30px 0;
	}
	.itembox h2 {
		height: 30px;
		font-size: 20px;
	}
	.itembox01 {
		height: auto;
	}
	.itembox01 dt {
		width: 100%;
		padding: 20px 0 0;
	}
	.itembox01 dt h3 {
		font-size: 16px;
	}
	.itembox01 dt .text {
		margin: 7px 0;
		padding-bottom: 7px;
	}
	.itembox01 .btn, .itembox02 .btn, .itembox04 .btn {
		width: 220px;
		height: 40px;
		margin: 15px auto 0;
		line-height: 40px;
		font-size: 18px;
	}
	.itembox01 dd {
		width: 100%;
		display:none;
	}
	.itembox02 ul {
		width: 100%;
	}
	.itembox02 li {
		float: left;
		width: 50%;
		height:auto;
		margin: 0 0 20px 0;
		text-align: center;
	}
	.itembox02 li a {
		height: 84px;
		width: 84px;
		padding: 10px;
		margin:0 auto;
		background-position:0 -90px;
		background-size:230px 200px;
	}
	.itembox02 li a:hover {
		background-position: -104px -90px;
	}
	.itembox02 li span {
		height: 25px;
		width: 28px;
		margin: 10px auto 0;
		background-size:230px 200px;
	}
	.itembox02 li span.icon01{ background-position:1px -40px;}
	.itembox02 li span.icon02{ background-position:-50px -40px;}
	.itembox02 li span.icon03{ background-position:-98px -40px;}
	.itembox02 li span.icon04{ background-position:-150px -40px;}
	.itembox02 li span.icon05{ background-position:1px -65px;}
	.itembox02 li span.icon06{ background-position:-50px -65px;}
	.itembox02 li span.icon07{ background-position:-100px -65px;}
	.itembox02 li span.icon08{ background-position:-150px -65px;}
	.itembox02 li h3 {
		margin: 10px 0 7px;
		font-size: 16px;
	}
	.itembox02 li p {
		display:none;
	}
	.itembox03 {
		height:auto;
	}
	.itembox03 dd {
		float: left;
		width: 100%;
		margin-top: 30px;
	}
	.itembox03 dd .dd_item:first-child {
		margin-bottom: 20px;
	}
	.itembox03 h3 {
		text-align: left;
	}
	.itembox03 dt {
		width: 100%;
	}
	.itembox04 {
		height: auto;
	}
	.itembox .pic {
		width: 80%;
		margin:0 auto;
	}
	.itembox04 .text {
		top: 60px;
		font-size: 14px;
	}
	.itembox04 .text .p1 {
		top: 40px;
		left: 0;
	}
	.itembox04 .text .p2 {
		top: 80px;
		right: 0
	}
	.itembox04 .text .p3 {
		top: 170px;
		left: 0;
	}
	.itembox04 .text .p4 {
		top: 300px;
		right: 0
	}
	.itembox05 .text {
		height:auto;
		padding: 20px 0;
		font-size: 16px;
		line-height: 26px;
		background-size:90%;
	}
	.itembox06 li {
		float: left;
		width: 30%;
		margin-right: 3%;
		margin-bottom: 3%;
	}
	.footer-main {
		overflow: hidden;
		padding: 15px 0 15px;
	}
	.footer-logo {
		width: 100%;
		margin-top: 15px;
		display:none;
	}
	.footer-link {
		width: 20%;
	}
	.footer-contact {
		width: 50%;
	}
	.footer-main dt {
		margin-bottom: 10px;
		font-size: 16px;
	}
}

@media (max-width: 600px) {
    
}

@media (max-width: 600px) {
    
}


