<?xml version="1.0"	encoding="UTF-8"?>
<configuration>
<system.webServer>
  <rewrite>
	<rules>
	  <rule name="rewrite">
		<match url="^/?rewrite$"	/>
		<action	type="Rewrite" url="public/rewrite.php" />
	  </rule>
	  <rule name="url">
		<match url="^/?url/([a-zA-Z0-9]+)$" />
		<action type="Rewrite" url="shorturl.php?url={R:1}" />
	  </rule>
	  <rule name="?page">
		<match url="^/?page/([0-9a-zA-Z_]+)\.html$" />
		<action	type="Rewrite" url="index.php?app=page&amp;mod=Index&amp;act=index&amp;page={R:1}&amp;{QUERY_STRING}" />
	  </rule>
	  <rule name="?home">
		<match url="^/?home$" />
		<action	type="Rewrite" url="index.php?app=public&amp;mod=Index&amp;act=index&amp;{QUERY_STRING}" />
	  </rule>
	  <rule name="invite">
		<match url="^/?invite$" />
		<action	type="Rewrite" url="index.php?app=public&amp;mod=Invite&amp;act=invite&amp;{QUERY_STRING}" />
	  </rule>
	  <rule name="my_task">
		<match url="^/?my(Task|Medal|Rank|Collection|Mention|Comment)$" />
		<action	type="Rewrite" url="index.php?app=public&amp;mod={R:1}&amp;act=index&amp;{QUERY_STRING}" />
	  </rule>
	  <rule name="myFeed">
		<match url="^/?myFeed$" />
		<action	type="Rewrite" url="index.php?app=public&amp;mod=Index&amp;act=myFeed&amp;{QUERY_STRING}" />
	  </rule>
	  <rule name="myFollowing">
		<match url="^/?myFollowing$" />
		<action	type="Rewrite" url="index.php?app=public&amp;mod=Index&amp;act=following&amp;{QUERY_STRING}" />
	  </rule>
	  <rule name="myFollower">
		<match url="^/?myFollower$" />
		<action	type="Rewrite" url="index.php?app=public&amp;mod=Index&amp;act=follower&amp;{QUERY_STRING}" />
	  </rule>
	  <rule name="message">
		<match url="^/?message$" />
		<action	type="Rewrite" url="index.php?app=public&amp;mod=Message&amp;act=index&amp;{QUERY_STRING}" />
	  </rule>
	  <rule name="notify">
		<match url="^/?notify$" />
		<action	type="Rewrite" url="index.php?app=public&amp;mod=Message&amp;act=notify&amp;{QUERY_STRING}" />
	  </rule>
	  <rule name="message_detail">
		<match url="^/?message/([0-9]+)$" />
		<action	type="Rewrite" url="index.php?app=public&amp;mod=Message&amp;act=detail&amp;id={R:1}&amp;{QUERY_STRING}" />
	  </rule>
	  <rule name="setting">
		<match url="^/?setting/([a-zA-Z0-9_]+)$" />
		<action	type="Rewrite" url="index.php?app=public&amp;mod=Account&amp;act={R:1}&amp;{QUERY_STRING}" />
	  </rule>
	  <rule name="weibo">
		<match url="^/?(weibo|feed)/([0-9]+)$" />
		<action	type="Rewrite" url="index.php?app=public&amp;mod=Profile&amp;act=feed&amp;feed_id={R:2}&amp;{QUERY_STRING}" />
	  </rule>
	  <rule name="topic">
		<match url="^/?topic$" />
		<action	type="Rewrite" url="index.php?app=public&amp;mod=Topic&amp;act=index&amp;{QUERY_STRING}" />
	  </rule>
	  <rule name="topics">
		<match url="^/?topics/([0-9A-Za-z_]+)$" />
		<action	type="Rewrite" url="index.php?app=public&amp;mod=Topic&amp;act=index&amp;domain={R:1}&amp;{QUERY_STRING}" />
	  </rule>
	  <rule name="space">
		<match url="^/?(@|space/)([_a-zA-Z0-9]+)\/?$" />
		<action	type="Rewrite" url="index.php?app=public&amp;mod=Profile&amp;act=index&amp;uid={R:2}&amp;{QUERY_STRING}" />
	  </rule>
	  <rule name="space_profile">
		<match url="^/?(@|space/)([_a-zA-Z0-9]+)/profile$" />
		<action	type="Rewrite" url="index.php?app=public&amp;mod=Profile&amp;act=data&amp;uid={R:2}&amp;{QUERY_STRING}" />
	  </rule>
	  <rule name="space_following">
		<match url="^/?(@|space/)([_a-zA-Z0-9]+)/following$" />
		<action	type="Rewrite" url="index.php?app=public&amp;mod=Profile&amp;act=following&amp;uid={R:2}&amp;{QUERY_STRING}" />
	  </rule>
	  <rule name="space_follower">
		<match url="^/?(@|space/)([_a-zA-Z0-9]+)/follower$" />
		<action	type="Rewrite" url="index.php?app=public&amp;mod=Profile&amp;act=follower&amp;uid={R:2}&amp;{QUERY_STRING}" />
	  </rule>

	  <rule name="login">
		<match url="^/?(login|welcome)$" />
		<action	type="Rewrite" url="index.php?app=public&amp;mod=Passport&amp;act=login&amp;{QUERY_STRING}" />
	  </rule>
	  <rule name="register">
		<match url="^/?register$" />
		<action	type="Rewrite" url="index.php?app=public&amp;mod=Register&amp;act=index&amp;{QUERY_STRING}" />
	  </rule>
	  <rule name="activate">
		<match url="^/?activate/([0-9]+)$" />
		<action	type="Rewrite" url="index.php?app=public&amp;mod=Register&amp;act=waitForActivation&amp;uid={R:1}&amp;{QUERY_STRING}" />
	  </rule>
	  <rule name="review">
		<match url="^/?review/([0-9]+)$" />
		<action	type="Rewrite" url="index.php?app=public&amp;mod=Register&amp;act=waitForAudit&amp;uid={R:1}&amp;{QUERY_STRING}" />
	  </rule>

	  <rule name="register_upload_photo">
		<match url="^/?register/upload_photo$" />
		<action	type="Rewrite" url="index.php?app=public&amp;mod=Register&amp;act=step2&amp;{QUERY_STRING}" />
	  </rule>
	  <rule name="register_work_information">
		<match url="^/?register/work_information$" />
		<action	type="Rewrite" url="index.php?app=public&amp;mod=Register&amp;act=step3&amp;{QUERY_STRING}" />
	  </rule>
	  <rule name="register_follow_interesting">
		<match url="^/?register/follow_interesting$" />
		<action	type="Rewrite" url="index.php?app=public&amp;mod=Register&amp;act=step4&amp;{QUERY_STRING}" />
	  </rule>

	  <rule name="wap">
		<match url="^/?wap$" />
		<action	type="Rewrite" url="index.php?app=wap&amp;mod=Index&amp;act=index&amp;{QUERY_STRING}" />
	  </rule>

	  <rule name="findfriend">
		<match url="^/?findfriend/?$" />
		<action	type="Rewrite" url="index.php?app=people&amp;mod=Index&amp;act=index&amp;{QUERY_STRING}" />
	  </rule>

	  <rule name="people">
		<match url="^/?people/?([a-zA-Z0-9_]+)?$" />
		<action	type="Rewrite" url="index.php?app=people&amp;mod=Index&amp;act=index&amp;type={R:1}&amp;{QUERY_STRING}" />
	  </rule>

	  <rule name="channel">
		<match url="^/?channel/?([a-zA-Z0-9_]+)?$" />
		<action	type="Rewrite" url="index.php?app=channel&amp;mod=Index&amp;act=index&amp;cid={R:1}&amp;{QUERY_STRING}" />
	  </rule>

	  <rule name="?weiba">
		<match url="^/?weiba$" />
		<action	type="Rewrite" url="index.php?app=weiba&amp;mod=Index&amp;act=index&amp;{QUERY_STRING}"	/>
	  </rule>
	  <rule name="weiba_weibalist">
		<match url="^/?weiba/weibalist$" />
		<action	type="Rewrite" url="index.php?app=weiba&amp;mod=Index&amp;act=weibaList&amp;{QUERY_STRING}"	/>
	  </rule>
	  <rule name="weiba_postlist">
		<match url="^/?weiba/postlist$" />
		<action	type="Rewrite" url="index.php?app=weiba&amp;mod=Index&amp;act=postList&amp;{QUERY_STRING}"	/>
	  </rule>
	  <rule name="weiba_my_">
		<match url="^/?weiba/my([a-zA-Z]+)$" />
		<action type="Rewrite" url="index.php?app=weiba&amp;mod=Index&amp;act=myWeiba&amp;type=my{R:1}&amp;{QUERY_STRING}"  />
	  </rule>
	  <rule name="weiba_">
		<match url="^/?weiba/([0-9]+)$" />
		<action	type="Rewrite" url="index.php?app=weiba&amp;mod=Index&amp;act=detail&amp;weiba_id={R:1}&amp;{QUERY_STRING}"	/>
	  </rule>
	  <rule name="weiba_digest">
		<match url="^/?weiba/([0-9]+)/digest$" />
		<action	type="Rewrite" url="index.php?app=weiba&amp;mod=Index&amp;act=detail&amp;weiba_id={R:1}&amp;type=digest&amp;{QUERY_STRING}"	/>
	  </rule>
	  <rule name="weiba_post">
		<match url="^/?weiba/([0-9]+)/post$" />
		<action	type="Rewrite" url="index.php?app=weiba&amp;mod=Index&amp;act=post&amp;weiba_id={R:1}&amp;{QUERY_STRING}"	/>
	  </rule>
	  <rule name="weiba_edit">
		<match url="^/?weiba/post_([0-9]+)/edit$" />
		<action	type="Rewrite" url="index.php?app=weiba&amp;mod=Index&amp;act=postEdit&amp;post_id={R:1}&amp;{QUERY_STRING}"	/>
	  </rule>
	  <rule name="weiba_detail">
		<match url="^/?weiba/post_([0-9]+)/detail$" />
		<action	type="Rewrite" url="index.php?app=weiba&amp;mod=Index&amp;act=postDetail&amp;post_id={R:1}&amp;{QUERY_STRING}"	/>
	  </rule>
	  <rule name="weiba_editreply">
		<match url="^/?weiba/reply_([0-9]+)/edit$" />
		<action	type="Rewrite" url="index.php?app=weiba&amp;mod=Index&amp;act=replyEdit&amp;reply_id={R:1}&amp;{QUERY_STRING}"	/>
	  </rule>
	  <rule name="weiba_manage">
		<match url="^/?weiba/([0-9]+)/manage$" />
		<action	type="Rewrite" url="index.php?app=weiba&amp;mod=Manage&amp;act=index&amp;weiba_id={R:1}&amp;{QUERY_STRING}"	/>
	  </rule>
	  <rule name="weiba_manage_member">
		<match url="^/?weiba/([0-9]+)/manage/member$" />
		<action	type="Rewrite" url="index.php?app=weiba&amp;mod=Manage&amp;act=member&amp;weiba_id={R:1}&amp;{QUERY_STRING}"	/>
	  </rule>
	  <rule name="weiba_manage_notify">
		<match url="^/?weiba/([0-9]+)/manage/notify$" />
		<action	type="Rewrite" url="index.php?app=weiba&amp;mod=Manage&amp;act=notify&amp;weiba_id={R:1}&amp;{QUERY_STRING}"	/>
	  </rule>
	  <rule name="weiba_manage_log">
		<match url="^/?weiba/([0-9]+)/manage/log$" />
		<action	type="Rewrite" url="index.php?app=weiba&amp;mod=Manage&amp;act=log&amp;weiba_id={R:1}&amp;{QUERY_STRING}"	/>
	  </rule>

	<rule name="app_blog">
		<match url="^/?app/blog/?$"	/>
		<action	type="Rewrite" url="index.php?app=blog&amp;mod=Index&amp;act=index&amp;{QUERY_STRING}" />
	</rule>
	<rule name="app_blog_lastest">
		<match url="^/?app/blog/lastest/?$"	/>
		<action	type="Rewrite" url="index.php?app=blog&amp;mod=Index&amp;act=news&amp;{QUERY_STRING}"	/>
	</rule>
	<rule name="app_blog_following">
		<match url="^/?app/blog/following/?$" />
		<action	type="Rewrite" url="index.php?app=blog&amp;mod=Index&amp;act=followsblog&amp;{QUERY_STRING}" />
	</rule>
	<rule name="app_blog_my">
		<match url="^/?app/blog/my/?$" />
		<action	type="Rewrite" url="index.php?app=blog&amp;mod=Index&amp;act=my&amp;{QUERY_STRING}" />
	</rule>
	<rule name="app_blogs">
		<match url="^/?app/blog/([0-9]+)/?$" />
		<action	type="Rewrite" url="index.php?app=blog&amp;mod=Index&amp;act=personal&amp;uid={R:1}&amp;{QUERY_STRING}" />
	</rule>
	<rule name="app_blog_detail">
		<match url="^/?app/blog/detail/([0-9]+)/?$"	/>
		<action	type="Rewrite" url="index.php?app=blog&amp;mod=Index&amp;act=show&amp;id={R:1}&amp;{QUERY_STRING}" />
	</rule>
	<rule name="app_blog_category">
		<match url="^/?app/blog/([0-9]+)/category/([0-9]+)/?$" />
		<action	type="Rewrite" url="index.php?app=blog&amp;mod=Index&amp;act=personal&amp;uid={R:1}&amp;cateId={R:2}&amp;{QUERY_STRING}" />
	</rule>
	<rule name="app_blog_post">
		<match url="^/?app/blog/post/?$" />
		<action	type="Rewrite" url="index.php?app=blog&amp;mod=Index&amp;act=addBlog&amp;{QUERY_STRING}" />
	</rule>
	<rule name="app_blog_edit">
		<match url="^/?app/blog/edit/([0-9]+)/?$" />
		<action	type="Rewrite" url="index.php?app=blog&amp;mod=Index&amp;act=edit&amp;id={R:1}&amp;{QUERY_STRING}" />
	</rule>
	<rule name="app_blog_admin">
		<match url="^/?app/blog/manage/?$" />
		<action	type="Rewrite" url="index.php?app=blog&amp;mod=Index&amp;act=admin&amp;{QUERY_STRING}" />
	</rule>

	<rule name="app_photo">
		<match url="^/?app/photo/?$" />
		<action	type="Rewrite" url="index.php?app=photo&amp;mod=Index&amp;act=index&amp;{QUERY_STRING}" />
	</rule>
	<rule name="app_photo_all_albums">
		<match url="^/?app/photo/all_albums/?$"	/>
		<action	type="Rewrite" url="index.php?app=photo&amp;mod=Index&amp;act=all_albums&amp;{QUERY_STRING}" />
	</rule>
	<rule name="app_photo_all_photos">
		<match url="^/?app/photo/all_photos/?$"	/>
		<action	type="Rewrite" url="index.php?app=photo&amp;mod=Index&amp;act=all_photos&amp;{QUERY_STRING}" />
	</rule>
	<rule name="app_photo_albums">
		<match url="^/?app/photo/albums/?$"	/>
		<action	type="Rewrite" url="index.php?app=photo&amp;mod=Index&amp;act=albums&amp;{QUERY_STRING}" />
	</rule>
	<rule name="app_photo_photos">
		<match url="^/?app/photo/photos/?$"	/>
		<action	type="Rewrite" url="index.php?app=photo&amp;mod=Index&amp;act=photos&amp;{QUERY_STRING}" />
	</rule>
	<rule name="app_photo_album_detail">
		<match url="^/?app/photo/album/([0-9]+)/?$"	/>
		<action	type="Rewrite" url="index.php?app=photo&amp;mod=Index&amp;act=album&amp;id={R:1}&amp;{QUERY_STRING}" />
	</rule>
	<rule name="app_photo_photo_detail">
		<match url="^/?app/photo/photo/([0-9]+)/?$"	/>
		<action	type="Rewrite" url="index.php?app=photo&amp;mod=Index&amp;act=photo&amp;id={R:1}&amp;{QUERY_STRING}" />
	</rule>
	<rule name="app_photo_multi_upload">
		<match url="^/?app/photo/multi_upload/?$" />
		<action	type="Rewrite" url="index.php?app=photo&amp;mod=Upload&amp;act=flash&amp;{QUERY_STRING}" />
	</rule>
	<rule name="app_photo_upload">
		<match url="^/?app/photo/upload/?$"	/>
		<action	type="Rewrite" url="index.php?app=photo&amp;mod=Upload&amp;act=index&amp;{QUERY_STRING}" />
	</rule>
	<rule name="app_photo_edit_detail">
		<match url="^/?app/photo/edit/([0-9]+)/?$" />
		<action	type="Rewrite" url="index.php?app=photo&amp;mod=Manage&amp;act=album_edit&amp;id={R:1}&amp;{QUERY_STRING}" />
	</rule>
	<rule name="app_photo_order_detail">
		<match url="^/?app/photo/order/([0-9]+)/?$"	/>
		<action	type="Rewrite" url="index.php?app=photo&amp;mod=Manage&amp;act=album_order&amp;id={R:1}&amp;{QUERY_STRING}" />
	</rule>

	<rule name="app_event">
		<match url="^/?app/event/?$" />
		<action	type="Rewrite" url="index.php?app=event&amp;mod=Index&amp;act=index&amp;{QUERY_STRING}"	/>
	</rule>
	<rule name="app_event_detail">
		<match url="^/?app/event/events/?$"	/>
		<action	type="Rewrite" url="index.php?app=event&amp;mod=Index&amp;act=personal&amp;{QUERY_STRING}" />
	</rule>
	<rule name="app_event_post">
		<match url="^/?app/event/post/?$" />
		<action	type="Rewrite" url="index.php?app=event&amp;mod=Index&amp;act=addEvent&amp;{QUERY_STRING}" />
	</rule>
	<rule name="app_event_edit_detail">
		<match url="^/?app/event/edit/([0-9]+)/?$" />
		<action	type="Rewrite" url="index.php?app=event&amp;mod=Index&amp;act=edit&amp;id={R:1}&amp;{QUERY_STRING}"	/>
	</rule>
	<rule name="app_event_details">
		<match url="^/?app/event/detail/([0-9]+)/?$" />
		<action	type="Rewrite" url="index.php?app=event&amp;mod=Index&amp;act=eventDetail&amp;id={R:1}&amp;{QUERY_STRING}" />
	</rule>
	<rule name="app_event_member_detail">
		<match url="^/?app/event/member/([0-9]+)/?$" />
		<action	type="Rewrite" url="index.php?app=event&amp;mod=Index&amp;act=member&amp;id={R:1}&amp;{QUERY_STRING}" />
	</rule>
	<rule name="app_vote">
		<match url="^/?app/vote/?$"	/>
		<action	type="Rewrite" url="index.php?app=vote&amp;mod=Index&amp;act=index&amp;{QUERY_STRING}" />
	</rule>
	<rule name="app_vote_my">
		<match url="^/?app/vote/my/?$" />
		<action	type="Rewrite" url="index.php?app=vote&amp;mod=Index&amp;act=my&amp;{QUERY_STRING}"	/>
	</rule>
	<rule name="app_vote_detail">
		<match url="^/?app/vote/([0-9]+)/?$" />
		<action	type="Rewrite" url="index.php?app=vote&amp;mod=Index&amp;act=personal&amp;uid={R:1}&amp;{QUERY_STRING}"	/>
	</rule>
	<rule name="app_vote_post">
		<match url="^/?app/vote/post/?$" />
		<action	type="Rewrite" url="index.php?app=vote&amp;mod=Index&amp;act=addPoll&amp;{QUERY_STRING}" />
	</rule>
	<rule name="app_vote_detail2">
		<match url="^/?app/vote/detail/([0-9]+)/?$"	/>
		<action	type="Rewrite" url="index.php?app=vote&amp;mod=Index&amp;act=pollDetail&amp;id={R:1}&amp;{QUERY_STRING}" />
	</rule>
	<rule name="app_gift">
		<match url="^/?app/gift/?$"	/>
		<action	type="Rewrite" url="index.php?app=gift&amp;mod=Index&amp;act=index&amp;{QUERY_STRING}" />
	</rule>
	<rule name="app_gift_receive">
		<match url="^/?app/gift/receive/?$"	/>
		<action	type="Rewrite" url="index.php?app=gift&amp;mod=Index&amp;act=receivebox&amp;{QUERY_STRING}"	/>
	</rule>
	<rule name="app_gift_send">
		<match url="^/?app/gift/send/?$" />
		<action	type="Rewrite" url="index.php?app=gift&amp;mod=Index&amp;act=sendbox&amp;{QUERY_STRING}" />
	</rule>
	<rule name="app_gift_detail">
		<match url="^/?app/gift/([0-9]+)/?$" />
		<action	type="Rewrite" url="index.php?app=gift&amp;mod=Index&amp;act=personal&amp;uid={R:1}&amp;{QUERY_STRING}"	/>
	</rule>
	<rule name="app_poster">
		<match url="^/?app/poster/?$" />
		<action	type="Rewrite" url="index.php?app=poster&amp;mod=Index&amp;act=index&amp;{QUERY_STRING}" />
	</rule>
	<rule name="app_poster_detail">
		<match url="^/?app/poster/posters/?$" />
		<action	type="Rewrite" url="index.php?app=poster&amp;mod=Index&amp;act=personal&amp;{QUERY_STRING}"	/>
	</rule>
	<rule name="app_poster_post">
		<match url="^/?app/poster/post/?$" />
		<action	type="Rewrite" url="index.php?app=poster&amp;mod=Index&amp;act=addPosterSort&amp;{QUERY_STRING}" />
	</rule>
	<rule name="app_poster_post_detail">
		<match url="^/?app/poster/post/([0-9]+)/?$"	/>
		<action	type="Rewrite" url="index.php?app=poster&amp;mod=Index&amp;act=addPoster&amp;typeId={R:1}&amp;{QUERY_STRING}" />
	</rule>
	<rule name="app_poster_edit">
		<match url="^/?app/poster/edit/([0-9]+)/?$"	/>
		<action	type="Rewrite" url="index.php?app=poster&amp;mod=Index&amp;act=editPoster&amp;id={R:1}&amp;{QUERY_STRING}" />
	</rule>
	<rule name="app_poster_details">
		<match url="^/?app/poster/detail/([0-9]+)/?$" />
		<action	type="Rewrite" url="index.php?app=poster&amp;mod=Index&amp;act=posterDetail&amp;id={R:1}&amp;{QUERY_STRING}" />
	</rule>
	<rule name="app_groups">
		<match url="^/?app/group/?$" />
		<action	type="Rewrite" url="index.php?app=group&amp;mod=Index&amp;act=index&amp;{QUERY_STRING}"	/>
	</rule>
	<rule name="app_group_index">
		<match url="^/?app/group/index?$" />
		<action	type="Rewrite" url="index.php?app=group&amp;mod=Index&amp;act=index&amp;{QUERY_STRING}"	/>
	</rule>
	<rule name="app_group_my_post">
		<match url="^/?app/group/my_post/?$" />
		<action	type="Rewrite" url="index.php?app=group&amp;mod=Index&amp;act=post&amp;{QUERY_STRING}" />
	</rule>
	<rule name="app_group_replied">
		<match url="^/?app/group/replied/?$" />
		<action	type="Rewrite" url="index.php?app=group&amp;mod=Index&amp;act=replied&amp;{QUERY_STRING}" />
	</rule>
	<rule name="app_group_comment">
		<match url="^/?app/group/comment/?$" />
		<action	type="Rewrite" url="index.php?app=group&amp;mod=Index&amp;act=comment&amp;{QUERY_STRING}" />
	</rule>
	<rule name="app_group_atme">
		<match url="^/?app/group/atme/?$" />
		<action	type="Rewrite" url="index.php?app=group&amp;mod=Index&amp;act=atme&amp;{QUERY_STRING}" />
	</rule>
	<rule name="app_groups_detail">
		<match url="^/?app/group/groups/?$"	/>
		<action	type="Rewrite" url="index.php?app=group&amp;mod=SomeOne&amp;act=index&amp;{QUERY_STRING}" />
	</rule>
	<rule name="app_group_class">
		<match url="^/?app/group/class/?$" />
		<action	type="Rewrite" url="index.php?app=group&amp;mod=Index&amp;act=find&amp;{QUERY_STRING}" />
	</rule>
	<rule name="app_group_search">
		<match url="^/?app/group/search/?$"	/>
		<action	type="Rewrite" url="index.php?app=group&amp;mod=Index&amp;act=search&amp;{QUERY_STRING}" />
	</rule>
	<rule name="app_group_add">
		<match url="^/?app/group/add/?$" />
		<action	type="Rewrite" url="index.php?app=group&amp;mod=Index&amp;act=add&amp;{QUERY_STRING}" />
	</rule>
	<rule name="app_group_details">
		<match url="^/?app/group/([0-9]+)/?$" />
		<action	type="Rewrite" url="index.php?app=group&amp;mod=Group&amp;act=index&amp;gid={R:1}&amp;{QUERY_STRING}" />
	</rule>
	<rule name="app_group_search2">
		<match url="^/?app/group/([0-9]+)/search?$"	/>
		<action	type="Rewrite" url="index.php?app=group&amp;mod=Group&amp;act=search&amp;gid={R:1}&amp;{QUERY_STRING}" />
	</rule>
	<rule name="app_group_group_detail">
		<match url="^/?app/group/([0-9]+)/detail/([0-9]+)/?$" />
		<action	type="Rewrite" url="index.php?app=group&amp;mod=Group&amp;act=detail&amp;gid={R:1}&amp;feed_id={R:2}&amp;{QUERY_STRING}" />
	</rule>
	<rule name="app_group_invite">
		<match url="^/?app/group/([0-9]+)/invite/?$" />
		<action	type="Rewrite" url="index.php?app=group&amp;mod=Invite&amp;act=create&amp;gid={R:1}&amp;{QUERY_STRING}"	/>
	</rule>
	<rule name="app_group_setting_baseinfo">
		<match url="^/?app/group/([0-9]+)/setting/baseinfo/?$" />
		<action	type="Rewrite" url="index.php?app=group&amp;mod=Manage&amp;act=index&amp;gid={R:1}&amp;{QUERY_STRING}" />
	</rule>
	<rule name="app_group_setting_privacy">
		<match url="^/?app/group/([0-9]+)/setting/private/?$" />
		<action	type="Rewrite" url="index.php?app=group&amp;mod=Manage&amp;act=privacy&amp;gid={R:1}&amp;{QUERY_STRING}" />
	</rule>
	<rule name="app_group_setting_member">
		<match url="^/?app/group/([0-9]+)/setting/member/?$" />
		<action	type="Rewrite" url="index.php?app=group&amp;mod=Manage&amp;act=membermanage&amp;gid={R:1}&amp;{QUERY_STRING}"	/>
	</rule>
	<rule name="app_group_setting_announcement">
		<match url="^/?app/group/([0-9]+)/setting/announcement/?$" />
		<action	type="Rewrite" url="index.php?app=group&amp;mod=Manage&amp;act=announce&amp;gid={R:1}&amp;{QUERY_STRING}" />
	</rule>
	<rule name="app_group_setting_log">
		<match url="^/?app/group/([0-9]+)/setting/log/?$" />
		<action	type="Rewrite" url="index.php?app=group&amp;mod=Log&amp;act=index&amp;gid={R:1}&amp;{QUERY_STRING}"	/>
	</rule>
	<rule name="app_group_bbs">
		<match url="^/?app/group/([0-9]+)/bbs/?$" />
		<action	type="Rewrite" url="index.php?app=group&amp;mod=Topic&amp;act=index&amp;gid={R:1}&amp;{QUERY_STRING}" />
	</rule>
	<rule name="app_group_bbs_post">
		<match url="^/?app/group/([0-9]+)/bbs/post/?$" />
		<action	type="Rewrite" url="index.php?app=group&amp;mod=Topic&amp;act=add&amp;gid={R:1}&amp;{QUERY_STRING}"	/>
	</rule>
	<rule name="app_group_bbs_edit">
		<match url="^/?app/group/([0-9]+)/bbs/edit/([0-9]+)/?$"	/>
		<action	type="Rewrite" url="index.php?app=group&amp;mod=Topic&amp;act=edit&amp;gid={R:1}&amp;tid={R:2}&amp;{QUERY_STRING}" />
	</rule>
	<rule name="app_group_bbs_reply">
		<match url="^/?app/group(?:/([0-9]+))?/bbs_reply/edit(?:/([0-9]+))?/?$"	/>
		<action	type="Rewrite" url="index.php?app=group&amp;mod=Topic&amp;act=editPost&amp;gid={R:1}&amp;pid={R:2}&amp;{QUERY_STRING}" />
	</rule>
	<rule name="app_group_bbs_details">
		<match url="^/?app/group/([0-9]+)/bbs/([0-9]+)/?$" />
		<action	type="Rewrite" url="index.php?app=group&amp;mod=Topic&amp;act=topic&amp;gid={R:1}&amp;tid={R:2}&amp;{QUERY_STRING}"	/>
	</rule>
	<rule name="app_group_file">
		<match url="^/?app/group/([0-9]+)/file/?$" />
		<action	type="Rewrite" url="index.php?app=group&amp;mod=Dir&amp;act=index&amp;gid={R:1}&amp;{QUERY_STRING}"	/>
	</rule>
	<rule name="app_group_file_upload">
		<match url="^/?app/group/([0-9]+)/file/upload/?$" />
		<action	type="Rewrite" url="index.php?app=group&amp;mod=Dir&amp;act=upload&amp;gid={R:1}&amp;{QUERY_STRING}" />
	</rule>
	<rule name="app_group_member">
		<match url="^/?app/group/([0-9]+)/member/?$" />
		<action	type="Rewrite" url="index.php?app=group&amp;mod=Member&amp;act=index&amp;gid={R:1}&amp;{QUERY_STRING}" />
	</rule>
	<rule name="app_group_file_error_4o4">
		<match url="^/?([a-zA-Z0-9]+)$"	/>
		<action	type="Rewrite" url="index.php?app=home&amp;mod=Public&amp;act=error404&amp;{QUERY_STRING}" />
	</rule>

	</rules>
  </rewrite>
  <defaultDocument>
	<files>
	  <clear />
	  <add value="index.php" />
	  <add value="index.html"	/>
	</files>
  </defaultDocument>
</system.webServer>
</configuration>