
@charset "utf-8";
.swfupload-box { width: 400px; height: auto;font: normal 12px "Open Sans", Arial, sans-serif; line-height: 1.62}
#upload-btn{ margin-bottom: 8px;}
.case-que-foot { color: #666; position: relative; height: 20px; line-height: 20px; border-bottom: 1px solid #CECECE; border: 0; display: none; margin-top: 8px;}
.case-que-foot i { font-weight: bold; padding: 0 5px; }
.filename, .filesize, .filedel { display: block; position: absolute; }
.filesize { right: 100px }
.filedel { right: 0 }
.btn { padding: 5px 16px; height: 27px; cursor: pointer; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; color: white; background-color: #3FA156; border: 1px solid #528641; display: inline; }
.btn:hover { background-color: #62B676;}
/*swfupload*/
.progressWrapper { position: relative; height: 25px; overflow: hidden; border-bottom: 1px solid #E8E8E8; }
.progressContainer { background-color: white; overflow: hidden; }
.message { margin: 1em 0; padding: 10px 20px; border: solid 1px #FFDD99; background-color: #FFFFCC; overflow: hidden; }
.progressName { display: inline; position: absolute; top: 4px; top: 3px 9; left: 12px; z-index: 999; overflow: hidden; }
.progressBarInProgress { border-right: 2px solid #36824B; transition: width .8s ease-in-out; -webkit-transition: width .8s ease-in-out; -moz-transition: width .8s ease-in-out; -o-transition: width .8s ease-in-out; }
.progressBarInProgress, .progressBarComplete, .progressBarError { position: absolute; top: 0; z-index: 99; font-size: 0; width: 0; height: 25px; background-color: #EAFAE6; }
.progressBarComplete { width: 100%; background-color: green; visibility: hidden; }
.progressBarError { width: 100%; background-color: red; visibility: hidden; }
.progressBarStatus { margin-top: 2px; font-size: 7pt; font-family: Arial; text-align: left; white-space: nowrap; position: absolute; right: 15px }
a.progressCancel { font-size: 0; display: block; height: 14px; width: 14px; margin: 5px 8px 0 0; background: url(images/del.png) no-repeat; float: right; }
a.progressCancel:hover { background-position: 0px 0px; }
.progressSize { position: absolute; right: 60px; top: 5px;}

